<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose" data-tweets-ul="#feed">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
    <strong class="chars-left"></strong>
  </label>
  <br>

  <label>
    Mention
    <div class="mentions"></div>
    <script type="text/template">
      <div class="mentioned-users">
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <a href="javascript:void(0)" class="remove-mentioned-user">Remove Mention</a>
      </div>
    </script>
  </label>

  <div class="mentioned-users"> </div>

  <a href="javascript:void(0)" class="add-mention-user">Add Mention</a>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
